# Node
node_modules/

# Build / Vite
dist/
.vite/

# Systèmes
.DS_Store
Thumbs.db

# Textures lourdes temporaires
*.psd
*.tga
*.blend

# Optionnel : ignorer les gros jpg/png si tu veux les remplacer par des versions compressées
textures/*.jpg
textures/*.png